<h1 class="curriculum-title">Curriculum</h1>

<mat-nav-list cdkDropList (cdkDropListDropped)="drop($event)">
  <ng-container *ngFor="let item of items; let i = index">
    <!-- Section Header -->
    <div cdkDrag class="item-container">
      <div class="section-header">
        <div class="drag-handle" cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="section-content">
          <h4>{{ item.name }}</h4>
          <button mat-icon-button (click)="toggleCollapse(i)">
            <mat-icon>{{
              item.collapsed ? "expand_more" : "expand_less"
            }}</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Lessons -->
    <div class="lessons-container" *ngIf="!item.collapsed">
      <ng-container *ngFor="let lesson of item.lessons">
        <div cdkDrag class="lesson-container">
          <div class="drag-handle" cdkDragHandle>
            <mat-icon>drag_indicator</mat-icon>
          </div>
          <mat-list-item>
            <div class="lesson-flex-container">
              <mat-icon matListIcon [ngClass]="lesson.type">{{
                lesson.type
              }}</mat-icon>
              <span matLine class="lesson-name">{{ lesson.name }}</span>
              <div class="lesson-actions">
                <button mat-icon-button (click)="goToSection(lesson)">
                  <mat-icon>open_in_new</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteLesson(i, lesson)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-list-item>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- Actions -->
  <div class="section-actions">
    <button mat-button class="add-lesson-button" (click)="openAddLessonPopup()">
      <mat-icon>add</mat-icon>
      Add a lesson
    </button>
    <button mat-button class="search-button" (click)="openSearch()">
      <mat-icon>search</mat-icon>
      Search materials
    </button>
  </div>
</mat-nav-list>
