<h1 class="curriculum-title">Curriculum</h1>

<mat-nav-list cdkDropList (cdkDropListDropped)="drop($event)">
  <ng-container *ngFor="let item of items; let i = index">
    <!-- Section Header -->
    <div cdkDrag class="item-container">
      <div class="section-header">
        <div class="drag-handle" cdkDragHandle>
          <mat-icon color="primary" style="color: #4285f4"
            >drag_indicator</mat-icon
          >
        </div>
        <div class="section-content">
          <div class="section-title">
            <ng-container *ngIf="editingIndex !== i; else editMode">
              <h4>{{ item.name }}</h4>
            </ng-container>
            <ng-template #editMode>
              <input
                [(ngModel)]="item.name"
                (blur)="finishEditing(i)"
                (keyup.enter)="finishEditing(i)"
                class="edit-input"
                #editInput
                matInput
                autofocus
              />
            </ng-template>
            <button mat-icon-button (click)="startEditing(i)">
              <mat-icon color="accent" style="color: #4285f4">edit</mat-icon>
            </button>
          </div>
          <div class="section-actions">
            <button
              mat-icon-button
              class="delete-section-btn"
              (click)="deleteItem(i)"
            >
              <mat-icon color="warn" style="color: #ea4335">delete</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleCollapse(i)">
              <mat-icon color="primary" style="color: #4285f4">{{
                item.collapsed ? "expand_more" : "expand_less"
              }}</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Lessons -->
    <div class="lessons-container" *ngIf="!item.collapsed">
      <ng-container *ngFor="let lesson of item.lessons">
        <div cdkDrag class="lesson-container">
          <div class="drag-handle" cdkDragHandle>
            <mat-icon color="primary" style="color: #4285f4"
              >drag_indicator</mat-icon
            >
          </div>
          <mat-list-item>
            <div class="lesson-flex-container">
              <mat-icon
                matListIcon
                [ngClass]="lesson.type"
                style="color: #4285f4"
                >{{ lesson.type }}</mat-icon
              >
              <span matLine class="lesson-name">{{ lesson.name }}</span>
              <div class="lesson-actions">
                <button mat-icon-button (click)="goToSection(lesson, i)">
                  <mat-icon color="secondary" style="color: #4285f4"
                    >open_in_new</mat-icon
                  >
                </button>
                <button mat-icon-button (click)="deleteLesson(i, lesson)">
                  <mat-icon color="warn" style="color: #ea4335"
                    >delete</mat-icon
                  >
                </button>
              </div>
            </div>
          </mat-list-item>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- Actions -->
  <div class="section-actions">
    <button mat-button class="add-lesson-button" (click)="openAddLessonPopup()">
      <mat-icon class="add" style="color: #4285f4">add</mat-icon>
      Add a lesson
    </button>
    <button mat-button class="search-button" (click)="openSearch()">
      <mat-icon color="primary" style="color: #4285f4">search</mat-icon>
      Search materials
    </button>
  </div>
</mat-nav-list>
